@import "tailwindcss";

:root {
  --background: #0000;
  --foreground: #ffffff;
}

body {
  background: radial-gradient(circle at bottom right, #3c9add, #191452);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}
